.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.yourOrderWrapper {
    border-width: 5px;
    border-color: grey;
}

.titleStyle {
    font-size: 20px;
    font-weight: bold;
}