.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainContent {
    margin-top: 200px;
}

.inputType {
    margin-left: 30px;
    height: 28px;
    width: 300px;
    font-size: 18px;
    border-radius: 5px;
}

.submitBtn {
    height: 40px;
    width: 530px;
    background-color: #ff7733;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    border-width: 0.5px;
}